<!DOCTYPE html>
<!--// Link với thymeleaf-->
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>HomePageBlog</title>
    <!--    //Link với bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <!--    //Link với JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <table id="add-student">
        <tr>
            <td><input type="text" id="id" placeholder="id" hidden></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" id="description" placeholder="description"></td>
        </tr>
        <tr>
            <td>title:</td>
            <td><input type="text" id="title" placeholder="title"></td>
        </tr>
        <tr>
            <td>grade:</td>
            <td><input type="text" id="grade" placeholder="grade"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewBlog()"></td>
        </tr>
    </table>

<h1>Blog List</h1>
    <table id="blogList" border="1px">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="x:${blogs}">
            <td th:text="${x.id}"></td>
            <td th:text="${x.description}"></td>
            <td th:text="${x.title}"></td>
            <td th:text="${x.grade.content}"></td>
            <td><a class="btn btn-primary" >edit</a></td>
            <td><a class="btn btn-danger">delete</a></td>
        </tr>
    </table>

<script>

    function addNewBlog(){
        //lay du lieu
        let description = $('#description').val();
        let title = $('#title').val();
        let grade = $('#grade').val();
        let newBlog = {
            description : description,
            title : title,
            grade : {
                id : grade
            }
        }
        console.log(newBlog)
        // goi ajax
        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type : "POST",
            data : JSON.stringify(newBlog),
            //tên API
            url : "/blogs",
            //xử lý khi thành công
            success : successHandle,
            error: function (error) {
                console.log(error)
            }
        })

    event.preventDefault();

    }
    function getBlog(student) {
        return `<tr><td >${student.id}</td><td >${student.description}</td><td >${student.title}</td><td >${student.grade.content}</td>`;
    }
    function successHandle(){
        $.ajax({
            type:"GET",
            url:"/blogs",
            success: function (x){
                console.log(x)
                // hien thi danh sach o day
                let content = `<tr>
            <td th:text="${x.id}"></td>
            <td th:text="${x.description}"></td>
            <td th:text="${x.title}"></td>
            <td th:text="${x.grade.content}"></td>
             </tr>  `;
                for (let i = 0; i < x.length; i++) {
                    content += getBlog(x[i]);
                }
                document.getElementById('blogList').innerHTML = content;
            }
        })
    }
    document.onload(successHandle())


</script>
</body>
</html>